doc/main.bbl
doc/main.blg
doc/main.dvi
doc/main.aux
doc/main.log
doc/main.out
doc/main.pdf
doc/main.synctex.gz
doc/main.lof
doc/main.toc
doc/texput.log
experiments/datasets/
*.pyc
*__pycache__
*/__pycache__
*.pytest_cache
*/.pytest_cache
*/.cache/
ReNet/experiments/lstm-on-Yelp-review-data/review.json
*.csv
ReNet/TensorBoard_logs
experiments/logs
*.npy
*.npz
ReNet/SVHNdataset/*
HyperparamsSearch/*_hyperparams.log
paper/main.aux
paper/main.bbl
paper/main.blg
paper/main.log
paper/main.out
paper/main.pdf
paper/main.synctex.gz
paper/texput.log
animations/manimlib/files
animations/manimlib/media/Tex
animations/manimlib/media/video/*/*/*/partial_movie_files
